@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;

}

.form {
    /* Desiseño de formulario */
    background-color: #ffff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em;
    background-image: linear-gradient(#00728b,#06817f);
    filter: drop-shadow(5px 0.5px 10px);
}

.container {
    display: grid;
    gap: 1em;
}

.tittle {
    text-align: center;
    font-size: 1.9em;
    color: white;
}

.inputs {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    border: none;
    outline: none;
    border: 0.5px solid #cccccc;
}

.container textarea {
    font-family: inherit;
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    border: 0.5px solid #cccccc;
    padding: .8em 1em;

}

.enviarr {
    background-image: linear-gradient(cornflowerblue, #60a3daa5);
    border: none;
    font-size: 1rem;
    font-weight: 200px;
    padding: .7em 1em;
    cursor: pointer;
    color: blanchedalmond;
}

.enviarr:hover{
    background-color: blue;
}

footer{
    width: 100%;
    margin-top: 10em;
    text-align: center;
    font-family: inherit;
    font-size: smaller;
}

.raro{
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 height: 60px;
}
.uno {
    position: absolute;
    background-color: blue;
}
.dos{
    position: absolute;
    background-color: red;
}

@media (max-width: 450px) {
    .form{
        padding: 3.5em 1em;
    }
}